Q-4. Imagine you working as a sale manager now you need to predict the Revenue
and whether that particular revenue is on the weekend or not and find the
Informational_Duration using the Ensemble learning algorithm
Dataset This is the Dataset You can use this dataset for this question.

In [47]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("online_shoppers_intention.csv")

In [3]:
data.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [4]:
df=data.copy()

In [5]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [73]:
data['Month'].value_counts()

May     3364
Nov     2998
Mar     1907
Dec     1727
Oct      549
Sep      448
Aug      433
Jul      432
June     288
Feb      184
Name: Month, dtype: int64

In [74]:
data['Month'].unique()

array(['Feb', 'Mar', 'May', 'Oct', 'June', 'Jul', 'Aug', 'Nov', 'Sep',
       'Dec'], dtype=object)

In [75]:
df['Month']=data['Month']

In [76]:
df.dtypes

Administrative_Duration    float64
Informational_Duration     float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int64
Weekend                      int64
Revenue                      int64
dtype: object

In [94]:
df["Month"]=df["Month"].fillna(df["Month"][0])

In [95]:
df.isnull().sum()

Administrative_Duration    0
Informational_Duration     0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [8]:
for i in ['Weekend','Revenue']:
    print(df[i].value_counts(),'\n')

False    9462
True     2868
Name: Weekend, dtype: int64

False    10422
True      1908
Name: Revenue, dtype: int64

In [27]:
df[['Weekend','Revenue']]=data[['Weekend','Revenue']]

In [28]:
df[['Weekend','Revenue']]

       Weekend  Revenue
0        False    False
1        False    False
2        False    False
3        False    False
4         True    False
...        ...      ...
12325     True    False
12326     True    False
12327     True    False
12328    False    False
12329     True    False

[12330 rows x 2 columns]

In [29]:
for i in ['Weekend','Revenue']:
    #np.array(df[i].reshape(-1,1))
    encoded=pd.DataFrame(df[i].map({True:1,False:0}))
    df[i]=encoded

In [30]:
df[['Weekend','Revenue']]

       Weekend  Revenue
0            0        0
1            0        0
2            0        0
3            0        0
4            1        0
...        ...      ...
12325        1        0
12326        1        0
12327        1        0
12328        0        0
12329        1        0

[12330 rows x 2 columns]

In [31]:
df[['Weekend','Revenue']].dtypes

Weekend    int64
Revenue    int64
dtype: object

In [32]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational                int64
Informational_Duration     float64
ProductRelated               int64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                      int64
Revenue                      int64
dtype: object

In [35]:
df['VisitorType']=df['VisitorType'].map({'Returning_Visitor':1,'New_Visitor' :2, 'Other' :0})

In [39]:
df['VisitorType'].dtypes

dtype('int64')

In [97]:
df.dtypes

Administrative_Duration    float64
Informational_Duration     float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                      float64
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int64
Weekend                      int64
Revenue                      int64
dtype: object

In [98]:
df['Month']

0         2.0
1         2.0
2         2.0
3         2.0
4         2.0
         ...
12325    12.0
12326    11.0
12327    11.0
12328    11.0
12329    11.0
Name: Month, Length: 12330, dtype: float64

In [85]:
month_mapping = {'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
                 'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12}

In [86]:
df['Month']=df['Month'].map(month_mapping)

In [87]:
df['Month'].dtypes

dtype('float64')

In [89]:
df.dtypes

Administrative_Duration    float64
Informational_Duration     float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                      float64
OperatingSystems             int64
Browser                      int64
Region                       int64
TrafficType                  int64
VisitorType                  int64
Weekend                      int64
Revenue                      int64
dtype: object

In [99]:
df.isnull().sum()

Administrative_Duration    0
Informational_Duration     0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [100]:
df['Month'].sort_values()

0         2.0
6134      2.0
6135      2.0
6166      2.0
6175      2.0
         ...
8394     12.0
11001    12.0
11000    12.0
11013    12.0
9387     12.0
Name: Month, Length: 12330, dtype: float64

In [101]:
df.drop(['Administrative','Informational','ProductRelated'],axis=1,inplace =True)

KeyError: "['Administrative', 'Informational', 'ProductRelated'] not found in axis"

In [ ]:
df.head(1)

In [102]:
X=df.drop(['Weekend','Revenue'],axis=1)
y_rev = df['Revenue']
y_weknd = df['Weekend']

In [103]:
# Split the dataset into training and testing sets
X_train, X_test, y_train_revenue, y_test_revenue, y_train_weekend, y_test_weekend = train_test_split(X, y_rev, y_weknd, test_size=0.2, random_state=42)

In [104]:
X_train

,Administrative_Duration,Informational_Duration,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType
1785,0.000000,0.0,95.000000,0.014286,0.061905,0.000000,0.0,3.0,2,6,1,1,1
10407,14.000000,0.0,1441.910588,0.002469,0.013933,2.769599,0.0,11.0,2,2,3,2,1
286,0.000000,0.0,0.000000,0.200000,0.200000,0.000000,0.0,3.0,2,2,1,1,1
6520,49.200000,379.0,74.600000,0.000000,0.018182,8.326728,0.0,9.0,2,2,8,2,2
12251,0.000000,5.0,279.000000,0.040000,0.041667,0.000000,0.0,11.0,3,2,7,8,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11964,1005.608333,0.0,732.344872,0.000000,0.015676,0.000000,0.0,11.0,3,2,1,2,1
5191,0.000000,0.0,340.000000,0.000000,0.015385,23.388000,0.0,5.0,2,2,3,1,1
5390,0.000000,0.0,189.000000,0.000000,0.066667,0.000000,0.0,5.0,2,2,3,4,1
860,0.000000,0.0,305.000000,0.000000,0.016667,0.000000,0.0,3.0,1,1,1,2,2
7270,138.150000,0.0,232.310000,0.000000,0.028718,0.000000,0.0,10.0,2,2,5,2,1

In [105]:
X_test

,Administrative_Duration,Informational_Duration,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType
8916,142.500000,0.00,1052.255952,0.004348,0.013043,0.000000,0.0,11.0,1,8,6,11,1
772,437.391304,235.55,2503.881781,0.002198,0.004916,2.086218,0.0,3.0,2,2,3,2,1
12250,41.125000,0.00,4310.004668,0.000688,0.012823,3.451072,0.0,11.0,2,2,2,2,1
7793,141.000000,0.00,606.666667,0.008333,0.026389,36.672294,0.0,8.0,2,5,7,4,1
6601,608.140000,733.80,4948.398759,0.006632,0.013528,10.150644,0.0,8.0,2,2,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.000000,0.00,328.916667,0.000000,0.014286,59.790143,0.0,3.0,3,2,1,3,1
3694,0.000000,0.00,211.333333,0.000000,0.075000,0.000000,0.0,5.0,2,5,3,2,1
4974,0.000000,23.00,4167.488095,0.009615,0.024840,0.000000,0.0,5.0,2,2,3,1,1
10383,53.000000,9.50,8205.687940,0.023570,0.039664,1.180737,0.0,11.0,1,1,3,3,1
2611,0.000000,0.00,117.500000,0.050000,0.050000,0.000000,0.6,5.0,2,2,3,4,1

In [106]:
y_train_revenue

1785     0
10407    0
286      0
6520     0
12251    0
        ..
11964    0
5191     1
5390     0
860      0
7270     0
Name: Revenue, Length: 9864, dtype: int64

In [107]:
#Build the ensemble model
model = RandomForestClassifier(random_state=42)

In [108]:
model

RandomForestClassifier(random_state=42)

In [109]:
model.fit(X_train, y_train_revenue)

RandomForestClassifier(random_state=42)

In [110]:
# Evaluate the model for Revenue prediction
y_pred_revenue = model.predict(X_test)
revenue_accuracy = accuracy_score(y_test_revenue, y_pred_revenue)
print(f"Accuracy for Revenue prediction: {revenue_accuracy}")

Accuracy for Revenue prediction: 0.8925385239253852

In [112]:
# Train the ensemble model for Weekend prediction
model.fit(X_train, y_train_weekend)

RandomForestClassifier(random_state=42)

In [113]:
# Evaluate the model for Weekend prediction
y_pred_weekend = model.predict(X_test)
weekend_accuracy = accuracy_score(y_test_weekend, y_pred_weekend)
print(f"Accuracy for Weekend prediction: {weekend_accuracy}")

Accuracy for Weekend prediction: 0.764801297648013