In [48]:
import pandas as pd
import numpy as np

In [2]:
file_path = r"C:\Users\Pallavi.Mangal\Downloads\archive (2)\instagram_reach.csv"

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2 hours,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2 hours,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3 hours,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3 hours,30

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    object
 7   Likes              100 non-null    int64
dtypes: int64(4), object(4)
memory usage: 6.4+ KB

In [6]:
data_copy=data.copy()

In [8]:
data_copy.head(1)

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11 hours,139

In [18]:
data_copy['Time since posted'].unique()

array(['11 hours', '2 hours', '3 hours', '4 hours', '7 hours', '8 hours',
       '9 hours', '5 hours', '20 hours', '14 hours', '24 hours'],
      dtype=object)

In [19]:
data_copy['Time since posted']=data_copy['Time since posted'].str.split(' ').str[0]

In [21]:
data_copy['Time since posted']

0     11
1      2
2      2
3      3
4      3
      ..
95     3
96     3
97     3
98     3
99     3
Name: Time since posted, Length: 100, dtype: object

In [22]:
data_copy['Time since posted']=data_copy['Time since posted'].astype(int)

In [23]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            94 non-null     object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    int32
 7   Likes              100 non-null    int64
dtypes: int32(1), int64(4), object(3)
memory usage: 6.0+ KB

In [24]:
data_copy.head()

,Unnamed: 0,S.No,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,0,1,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139
1,1,2,drgorillapaints,We all know where it’s going. We just have to ...,880,#deck .#mac #macintosh#sayhello #apple #steve...,2,23
2,2,3,aitrading_official,Alexander Barinov: 4 years as CFO in multinati...,255,#whoiswho #aitrading #ai #aitradingteam#instat...,2,25
3,3,4,opensourcedworkplace,sfad,340,#iot #cre#workplace #CDO #bigdata #technology#...,3,49
4,4,5,crea.vision,Ever missed a call while your phone was chargi...,304,#instamachinelearning #instabigdata#instamarke...,3,30

In [26]:
data_copy.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              6
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [28]:
data_copy['Caption']=data_copy['Caption'].fillna(data['Caption'][0])

In [29]:
data_copy.isnull().sum()

Unnamed: 0           0
S.No                 0
USERNAME             0
Caption              0
Followers            0
Hashtags             0
Time since posted    0
Likes                0
dtype: int64

In [31]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   S.No               100 non-null    int64
 2   USERNAME           100 non-null    object
 3   Caption            100 non-null    object
 4   Followers          100 non-null    int64
 5   Hashtags           100 non-null    object
 6   Time since posted  100 non-null    int32
 7   Likes              100 non-null    int64
dtypes: int32(1), int64(4), object(3)
memory usage: 6.0+ KB

In [42]:
data_copy.drop(['Unnamed: 0','S.No'],axis=1,inplace=True)

In [43]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USERNAME           100 non-null    object
 1   Caption            100 non-null    object
 2   Followers          100 non-null    int64
 3   Hashtags           100 non-null    object
 4   Time since posted  100 non-null    int32
 5   Likes              100 non-null    int64
dtypes: int32(1), int64(2), object(3)
memory usage: 4.4+ KB

In [44]:
data_copy.head(1)

,USERNAME,Caption,Followers,Hashtags,Time since posted,Likes
0,mikequindazzi,Who are #DataScientist and what do they do? >>...,1600,#MachineLearning #AI #DataAnalytics #DataScien...,11,139

In [53]:
from sklearn.preprocessing import OrdinalEncoder

In [54]:
encoder=OrdinalEncoder()

In [55]:
for i in data_copy.columns:
    if data_copy[i].dtype == 'object':
        np.array(data_copy[i]).reshape(-1,1)
        encoded_column = pd.DataFrame(encoder.fit_transform(np.array(data_copy[i]).reshape(-1,1))).astype(int)
        data_copy[i]=encoded_column

In [56]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   USERNAME           100 non-null    int32
 1   Caption            100 non-null    int32
 2   Followers          100 non-null    int64
 3   Hashtags           100 non-null    int32
 4   Time since posted  100 non-null    int32
 5   Likes              100 non-null    int64
dtypes: int32(4), int64(2)
memory usage: 3.2 KB

In [57]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [58]:
X=data_copy.drop(columns=['Likes','Time since posted'])

In [65]:
y_likes=data_copy['Likes']

In [66]:
y_time=data_copy['Time since posted']

In [67]:
#Split the dataset into traaining and test sets
X_train , X_test , y_likes_train , y_likes_test , y_time_train , y_time_test = train_test_split(X,y_likes,y_time, test_size = 0.2 , random_state =42)

In [79]:
X_train

    USERNAME  Caption  Followers  Hashtags
55        13       81       3448        28
88        20       58       1158        56
26        22        2        265        20
42        42       71        273        25
69        40       50       1003        55
..       ...      ...        ...       ...
60        81       80        145        13
71        61       26        383        37
14         9       27       2904        34
92        21       67        106        42
51        72       33       2277        45

[80 rows x 4 columns]

In [76]:
X_test

    USERNAME  Caption  Followers  Hashtags
83        10       15         91        84
53        38       54         87         3
70        83       37       1200        86
45        34       35        122        60
44        49       20        118        38
39        64        4       1600        18
22        70       91       1041        50
80        66       92        140        79
10        27       77        149        27
0         64       86       1600        17
18         6       70         75        52
30        39       64        828        72
73        17       41       2372        31
33        25       42        610        41
90        86        7        863        47
4         23       30        304        64
76        37       49        181        39
77        58       29        631        54
12        90       51       1061        85
31        67       21         12        40

In [80]:
likes_model = LinearRegression()
likes_model

LinearRegression()

In [81]:
likes_model.fit(X_train, y_likes_train)

LinearRegression()

In [82]:
likes_model.score(X_train, y_likes_train)

0.15095617734877786

In [83]:
likes_model.score(X_test, y_likes_test)

-0.04262477089791217

In [84]:
likes_predictions = likes_model.predict(X_test)

In [85]:
# Evaluate the model for Likes
mse_likes = mean_squared_error(y_likes_test, likes_predictions)
r2_likes = r2_score(y_likes_test, likes_predictions)

In [86]:
print("Likes Model Evaluation:")
print("Mean Squared Error:", mse_likes)
print("R-squared:", r2_likes)

Likes Model Evaluation:
Mean Squared Error: 1478.05354740608
R-squared: -0.04262477089791217

In [87]:
times_model=LinearRegression()

In [89]:
times_model.fit(X_train, y_time_train)

LinearRegression()

In [90]:
times_model.score(X_train, y_time_train)

0.08098491792537854

In [91]:
times_predictions = times_model.predict(X_test)

In [95]:
# Evaluate the model for Likes
mse_times = mean_squared_error(y_time_test, times_predictions)
r2_times = r2_score(y_time_test, times_predictions)

In [96]:
print("Time Model Evaluation:")
print("Mean Squared Error:", mse_times)
print("R-squared:", r2_times)

Time Model Evaluation:
Mean Squared Error: 11.908951787030906
R-squared: -0.022447030438369042